
  <ul id="menu-main" >
    <li><a routerLink="/"><i class="fa fa-arrow-circle-right"></i> Student Registration</a></li>
    <li><a routerLink="/student-chatBox"><i class="fa fa-arrow-circle-right"></i> Student Chat Box</a></li>
    <li><a routerLink="/event-organiser"><i class="fa fa-arrow-circle-right"></i> Event Organizer</a></li>
    <li><a routerLink="courses"><i class="fa fa-arrow-circle-right"></i> Courses</a></li>
    <li><a routerLink="past-papers"><i class="fa fa-arrow-circle-right"></i> Past Papers</a></li>
    <li><a routerLink="competition"><i class="fa fa-arrow-circle-right"></i> Competition</a></li>
  </ul>



